
@{
    ViewData["Title"] = "ParfumeDetail";
}
<div class="container">
    <div class="row" id="parfume-detail-row">
    </div>
</div>


@section Scripts
{
    <script src="~/js/parfume.js"></script>
    <script>
        $(document).ready(function(){
            GetParfumeDetail();
        });
    </script>
}